:root {
  --pre-titlecolor: rgba(157, 164, 189, 0.6);
  --pre-titlecolorb: #303030;
  --white-title: #ffffff;
  --black-title: #303030;
  --text-color: #9da4bd;
  --color-subtitle: #555555;
  --hover-color: #ff6c00;
  --section-bgc: #191c26;
  --footer-bgc: #f7f7f7;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: lightgrey;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding-left: 31px;
  padding-right: 31px;
}

.section_pad {
  padding-top: 84px;
  padding-bottom: 84px;
}

/* ------------HEADER----------- */
.header {
  padding-top: 40px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mob-menu {
  margin-right: 8px;
  border: none;
  background-color: transparent;
}

/* ------------HERO----------- */
.hero {
  padding-top: 112px;
  padding-bottom: 209px;
  background-color: lightgoldenrodyellow;
}
.pretitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--pre-titlecolor);
}

.pretitle::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--pre-titlecolor);
}

.main-title {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--white-title);
}

.subtitle {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* ------------About----------- */
.pretitle-about {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--pre-titlecolorb);
}

.pretitle-about::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--pre-titlecolorb);
  display: block;
  margin-right: 20px;
}

.secondary-title {
  width: 306px;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--black-title);
}

.subtitle-about {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
  color: var(--color-subtitle);
}

.about-text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--color-subtitle);
}

.btn-book {
  padding: 12px 20px;
  border: 1px solid var(--hover-color);
  border-radius: 25px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--black-title);
}

/* ------------Prices----------- */
.price-title {
  margin-bottom: 44px;
  font-family: "Raleway";
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.05em;
  color: var(--white-title);
}

.price-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  padding: 30px 20px;
  margin-bottom: 44px;
}

.price-list {
  margin: 0;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.price-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.price-item::before {
  content: "";
  height: 1px;
  flex-grow: 1;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #ff6c00;
}

.price-text:first-child {
  order: -1;
}

.btnpr {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ------------Benefits----------- */
.benefits {
  background-color: lightcoral;
}

.subtitle-benefits {
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-subtitle);
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits-item {
  padding: 20px;
  width: 193px;
  height: 133px;
  background-color: #f7f7f7;
  text-align: center;
}

.benefits-value {
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  letter-spacing: 0.05em;
  color: var(--black-title);
}

.benefits-text {
  width: 122px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: var(--black-title);
}

/* ------------Barbers----------- */
.barbers_title {
  margin-bottom: 44px;
}

.barbers_list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}

.barber_item {
  text-align: center;
}

.barber_wrap {
  padding: 30px 106px 0;
}

.barber_title {
  margin-bottom: 8px;
}

.barber_subtitle {
  margin-bottom: 30px;
  color: var(--hover-color);
}

.soclinks {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.soclink {
  cursor: pointer;
  background-color: #fff;
  padding: 12px;
  border-radius: 20px;
  transition: fill 0.2s ease;
}

.soclink:hover {
  fill: var(--hover-color);
}

/* ------------Gallery----------- */
.pretitle-gallery {
  margin-bottom: 71px;
}

.gallery_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* ---------Booking----------- */
.booking {
  background-color: var(--section-bgc);
}

.booking_title {
  text-align: center;
  margin-bottom: 44px;
  font-family: "Raleway";
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.05em;
  color: var(--white-title);
}

.booking_form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.name_label {
  position: absolute;
  top: 5px;
}

.name_input {
  width: 418px;
  padding: 5px;
  margin-bottom: 67px;
}

.phone_label {
  position: absolute;
  top: 105px;
}

.phone_input {
  width: 100%;
  padding: 5px;
  margin-bottom: 119px;
}

.message_label {
  position: absolute;
  top: 257px;
}

.message_input {
  width: 100%;
  padding: 5px;
}

.name_input:focus,
.phone_input:focus,
.message_input:focus {
  color: var(--white-title);
  border-color: var(--white-title);
}

.name_input:focus + .name_label {
  transform: translateY(-100%);
  font-size: 12px;
  color: #333;
}

.name_input:focus + .name_label:not(:placeholder-shown) {
  transform: translateY(-100%);
}

.booking_form > label {
  color: #9da4bd66;
}

.booking_form input {
  border: none;
  border-bottom: 1px solid #9da4bd66;
  background-color: transparent;
  color: var(--white-title);
}

.send_btn {
  display: block;
  margin: 44px auto 0;
  color: var(--white-title);
  text-align: center;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  background-color: transparent;
  padding: 12px 38px;
  border: 1px solid var(--hover-color);
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.send_btn:hover {
  background-color: var(--hover-color);
}

/* ---------Contacts----------- */
.contacts {
  background-image: url("../images/contacts_bg_img.jpg");
  background: linear-gradient(rgba(25, 28, 38, 0.8), rgba(25, 28, 38, 0.8)),
    url("../images/contacts_bg_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact_title {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Raleway";
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.05em;
  color: var(--white-title);
}

.contact_item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.location {
  font-weight: 700;
}
.contact_link {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--pre-titlecolor);
}

.contact_item:last-child {
  margin-bottom: 44px;
}

.contact_pretitle {
  color: var(--white-title);
  font-family: Open Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact_pretitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--pre-titlecolor);
  display: block;
  margin-right: 20px;
}

.schedule {
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.36px;
}

.contact_icon {
  margin-right: 16px;
}

/* ---------Footer----------- */
.footer {
  padding-top: 44px;
  padding-bottom: 44px;
  background-color: var(--footer-bgc);
}
.footer_links_list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}

.footer_links_list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--pre-titlecolorb);
}

.footer_link {
  color: var(--pre-titlecolorb);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}

.copyright {
  color: var(--text-color);
  font-family: Open Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}
